<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="public/js/vue.js"></script>
</head>
<body>
<div id="vue-app">
    <div class="col-sm-12">
        <h1>Todos</h1>
        <ul class="list-group">
            <li class="list-group-item" v-for="todo in todos">
                {{todo.title}}
                <button v-on:click="delTodo(todo)">Del</button>
            </li>
        </ul>
        <form v-on:submit.prevent="addNewTodo(newTodo)">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Add a new one" v-model="newTodo.title"/>
            </div>
            <div class="form-group">
                <button class="btn btn-success">Add Todo</button>
                <button class="btn btn-del">Del Todo</button>
            </div>
        </form>
    </div>
</div>
<script src="public/js/main4vue.js"></script>
</body>
</html>