<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="public/css/todoCss.css">
    <script src="public/js/vue.js"></script>
</head>
<body>
<!--谢峻的改动-->
<!--冲突1-->
<!--冲突2-->
<!--冲突3-->
<!--冲突4-->
<div id="vue-app">
    <div class="row">
        <div class="col-sm-12">
            <h1>My todo</h1>
            <todo-item :todos="todos"></todo-item>
        </div>
    </div>
    <template id="todo-items-template">
        <ul class="list-group" v-if="todos.length>0"> <!--todo's if-else 用法-->
            <li class="list-group-item"
                v-for="todo in todos"
                v-bind:class="{'completed':todo.completed}"> <!--如果满足条件则 classList 增加 ‘completed’-->
                {{todo.title}}
                <button v-on:click="delTodo(todo)">Del</button>
                <button
                        v-bind:class="{'btn-success': todo.completed, 'btn-danger': !todo.completed}"
                        v-on:click="todoCompleted(todo)">{{todo.completed? 'Completed':'Pending'}}
                </button>
            </li>
        </ul>
        <div v-else>no todo item</div>
    </template>
</div>
<script src="public/js/main4vue.js"></script>
</body>
</html>