//
   Created by Administrator on 2016/8/1.
doctype
html
    head
        title myLittleGift
        link(rel='stylesheet' href='css/style.css')
        script(src='script/jquery1.12.4.js')
    body
        div
            | hello
    script(src='script/script.js')
